.game-container{
    width: 306px;
    height: 304px;
    padding: 20px;
    margin: 100px auto;
    background-color: rgb(88, 223, 196);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.block {
    width: 100px;
    height: 100px;
    margin: 0;
    border: 1px solid gray;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: monospace;
}